<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link href="main.css" rel="stylesheet" type="text/css">
</head>
<style>
body {
	font-weight:bolder;
</style>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>

<script>

</script> 

<body>

<div id = "webView">

    <div id="menubar">
        로그인
    </div>

    <div class="container" style="margin-top: 200px; float: center;">
        <div class="row">
        <div class="col-md-12" style="margin-left: 5em;">
            <form class="" id="reqForm2" method="POST" action="/login">
            <div class="form-group"><label style="margin-right: 20px;">아이디 : <br></label>
            <select name="userId">
                <option value="1234123">20대 여성</option>
                <option value="4564564">30대 남성</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary" onclick="document.forms[0].submit();" style="width:90px; margin-left: 2em; margin-top: 30px;">로그인</button>
            </form>
        </div>
        </div>
    </div> 
</div>

  </body>

</html>