<!DOCTYPE html>
<html lang="ko">
<head>
<link href="main.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/script.js"></script>
<style>
body{
    font-weight:bold;
}
</style>
</head>
<script>
alert('<%= postData.userid %>');

function goBack(){
	window.history.go(-2);
}

</script>

<body>
    <div id = "webView">



        <!-- 상단 메뉴바 뒤로가기 버튼 상품페이지 및 전체항목 버튼 -->

        <div id="menubar">
            <span>개인화 상품추천</span><button class="btn" style="float:right;" onClick="goBack()">X</button>
        </div>



        <!-- 개인화상품추천 페이지 상품 이미지 3개. -->

        <div id="menu1">
            <div id="menuTitle" style="height:60px"><span style="font-size: medium;"><h2>xxx님 이 상품은 어떠세요?</h2></p></div>
            <div id="recProduct1">
                <img src="C:\Users\user\Desktop\Grage Front1\product1.jpg" class = "productImage">
                <img src="C:\Users\user\Desktop\Grage Front1\product1.jpg" class = "productImage">
                <img src="C:\Users\user\Desktop\Grage Front1\product1.jpg" class = "productImage">
            </div>
        </div> 
    </div>

</body>
</html>